/* @font-face {
    font-family: 'myFirstFont';
    src: url("../../assets/fonts/Marathi_Sharada.ttf") format('truetype'); 
    font-weight: normal;
	font-style: normal;
}

.txt {
    font-family: 'myFirstFont';
} */