<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <!-- <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Company
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li> -->
            </ul>
        </nav>
        <p class="copyright pull-right">
            <a href="javascript:void(null);">Copyright</a> &copy; {{test | date: 'yyyy'}}, by <a href="javascript:void(null);">Siddhi Software Solutions</a>, All Rights Reserved.
            <!-- http://www.creative-tim.com -->
        </p>
    </div>
</footer>
